* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.footer {
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-list {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

img {
  width: 350px;
  height: 470px;
  transition: all 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin: 20px 0;
}

button {
  padding: 10px;
  background: black;
  color: white;
  width: 100%;
  border-radius: 5px;
  width: 350px;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.favorites {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.book-details {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.book-img {

}

.book-description {
  margin: 0 12px;
}